footer {
    background-color: darkslategrey;
    color: lightgray;
    align-self: baseline;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    text-align: center;
}

h1 {
    font-size: 20px;
}