tei-div {
    display: block;
    justify-self: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

tei-p {
    display: block;
    margin-top: .5em;
    margin-bottom: .5em;
}

tei-lg {
    display: block;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: 40vw;
    padding-left: .100em;
    align-self: center;
}

tei-l {
    display: block;
}

tei-head {
    font-weight: bold;
    margin-block-start: 25em;
}