tei-div {
    display: flex;
    justify-content: space-around;
  }
  tei-l {
    display: block;
    margin-top: .5em;
    margin-bottom: .5em;
    font-size: 1.5em;
  }
  tei-title {
    font-weight: bold;
    margin-left:45vw; 
    margin-bottom: 1em;
  }
  tei-lg {
    display: block;
    margin-bottom: 40px;
  }
  tei-p{
    display: block;
    margin-left: 45vw;
    margin-bottom: 40px;
  }