tei-div {
    display: block;
}

tei-p {
    display: block;
    margin-top: .5em;
    margin-bottom: .5em;
}

tei-lg {
    display: block;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: .5em;
    padding-left: .100em;
    align-self: center;
}

tei-l {
    display: block;
}

tei-head {
    font-weight: bold;
}